thead,tr td{
  font-size: .935rem ;
}


.table td, .table th
{
    vertical-align: middle !important;
}
table.dataTable>tbody>tr.child span.dtr-title{
    display: flex !important;
}

table thead th
{
  color:  #6c757d !important
}


thead tr th {
    // padding: 2rem 1rem !important;
    border-bottom: none !important;
}
td {
    // padding: 1rem !important;
}

.table-responsive {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
    background: #fff;
}
table#table.table {
box-shadow: none !important;
}
